.sidebar-section {
  border: 1px solid var(--gray-5);
  width: 12rem;
  padding: 1rem;
  height: 100vh;
  overflow-y: auto;
  position: relative;
  left: 0;
  top: 0;
}

.sidebar-button,
.sidebar-button-active {
  cursor: pointer;
}

.sidebar-button-active {
  background-color: var(--accent-10);
  color: var(--gray-1);
}
